<div>
	<input type="hidden" name="apiship[delivery_type]" value="<%= delivery_type %>" />
	<input type="hidden" name="apiship[delivery_tariff]" value="<%= delivery_tariff %>" />
	<input type="hidden" name="apiship[delivery_provider]" value="<%= delivery_provider %>" />
	<input type="hidden" name="apiship[delivery_price]" value="<%= delivery_price %>" />
	<input type="hidden" name="apiship[delivery_date]" value="" />
	<input type="hidden" name="apiship[delivery_point_out]" value="<%= delivery_point_out %>" />
</div>
